<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gf.biz.dingSync.mapper.MdDepartmentMapper">

    <resultMap id="mdDepartmentMap" type="com.gf.biz.dingSync.po.MdDepartment">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="created_time" jdbcType="TIMESTAMP" property="createdTime"/>
        <result column="updated_time" jdbcType="TIMESTAMP" property="updatedTime"/>
        <result column="created_by" jdbcType="VARCHAR" property="createdBy"/>
        <result column="updated_by" jdbcType="VARCHAR" property="updatedBy"/>
        <result column="deleted_flag" jdbcType="CHAR" property="deletedFlag"/>
        <result column="status" jdbcType="CHAR" property="status"/>
        <result column="dept_name" jdbcType="VARCHAR" property="deptName"/>
        <result column="dept_code" jdbcType="VARCHAR" property="deptCode"/>
        <result column="unit_id" jdbcType="VARCHAR" property="unitId"/>
        <result column="group_id" jdbcType="BIGINT" property="groupId"/>
        <result column="parent_id" jdbcType="BIGINT" property="parentId"/>
        <result column="if_id" jdbcType="VARCHAR" property="ifId"/>
        <result column="manage_user_list" jdbcType="VARCHAR" property="manageUserList"/>

    </resultMap>


    <select id="getDepartmentListOfChange" resultMap="mdDepartmentMap">
        select a.* from md_department a where a.manage_user_list is not null and
            <!--(
            DATE_FORMAT(a.created_time, '%Y-%m-%d') = DATE_FORMAT(SYSDATE(), '%Y-%m-%d')
                or DATE_FORMAT(a.updated_time, '%Y-%m-%d') = DATE_FORMAT(SYSDATE(), '%Y-%m-%d')
            )-->
        DATE_FORMAT(IFNULL(a.updated_time,a.created_time), '%Y-%m-%d')= DATE_FORMAT(SYSDATE(), '%Y-%m-%d')
    </select>

    <select id="selectDeptInfoToSyncCodewave" resultMap="mdDepartmentMap">
        select a.* from md_department a WHERE
            DATE_FORMAT(IFNULL(a.updated_time,a.created_time), '%Y-%m-%d')= DATE_FORMAT(SYSDATE(), '%Y-%m-%d')
    </select>
</mapper>